* {
    box-sizing: border-box;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
    /*width: 100%;*/
    flex-basis: 100%;
    justify-content: space-between;
}

ul li {
    flex: 0 0 auto;
    display: block;
}

ul li a {
    display: inline-block;
    height: 100%;
    padding: 7px 10px;
}

.root {
    width: 800px;
    height: 800px;
    background-color: blue;
    row-gap: 10px;
}

header, footer {
    min-height: 50px;

    background-color: pink;
    padding: 10px;
}

header .logo {
    /*height: 50px;*/
    flex: 0 0 50px;
    /*flex-basis: 50px;*/
    justify-content: center;
    align-items: center;
    margin-right: 50px;
}

main {
    max-height: calc(100% - 120px);
    flex: 1 0 auto;
    /*flex-grow: 1;*/
    background-color: green;
}

.left-menu {
    background-color: lavenderblush;
    /*flex-basis: 250px;*/
    /*flex-shrink: 0;*/
    margin-right: 10px;
    overflow-y: auto;
    flex: 0 0 250px;
}

.left-menu .menu_item {
    min-height: 150px;
    background-color: red;
    margin-bottom: 10px;
    padding: 10px;
}


.content {
    background-color: yellow;
    /*flex-grow: 1;*/
    column-gap: 10px;
    /*flex-shrink: 0;*/
    flex: 1 0 auto;
    width: calc(100% - 250px);
    overflow-x: auto;
}

.content .vert_items {
    padding: 10px;
    width: 150px;
    background-color: hotpink;
    flex-shrink: 0;
}


.d-flex {
    display: flex;
}

.f-row {
    flex-direction: row;
}

.f-col {
    flex-direction: column;
}

.justify-content-between {
    justify-content: space-between;
}

.p-10 {
    padding: 10px;
}
